@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

:root {
    --color-background-blue: #0047Af;
    --color-text-blue: #0b51b3;
    --color-grey-nav2-text: #010101;
    --color-black: black;
    --color-white: #ffff;
    --color-grey-button: #bcbcbc;
    --color-yellow: #fecc4e;
    --color-cardHeading: #181818;
    --color-body-text: #212529;
    --color-background: #F1F1F1;

    --font-family: 'PT Sans', sans-serif;

    --size-12px: 0.75rem;
    --size-13px: 0.8125rem;
    --size-14px: 0.875rem;
    --size-15px: 0.9375rem;
    --size-paragraph: 1rem;
    --size-sub-heading: 1.125rem;
    /*18px*/
    --size-20px: 1.25rem;
    /*20px*/
    --size-cardHeading1: 1.5rem;
    /*24px*/
    --size-cardHeading2: 1.5625rem;
    /*25px*/
    --size-30px: 1.875rem;
}

.lab-testAtHome,
.popular-test {
    width: 100%;
    background-color: var(--color-background);
    padding: 20px 0;
}

.lab-test-container,
.popular-test-container {
    max-width: 1500px;
    margin: auto;
    width: 87%;
    background-color: var(--color-white);
    border-radius: 15px;

}

.location-list,
.popular-test-list {
    display: flex;
    gap: 7px;
    margin-top: 20px;
    flex-wrap: wrap;
    line-height: 25px;
}

.lab-test-content,
.popular-test-content {
    padding: 15px 15px 100px;

}

.lab-test-content h1,
.popular-test-content h6 {
    font-size: var(--size-cardHeading2);
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    color: var(--color-cardHeading);
}

.location-list a,
.popular-test-list a {

    color: var(--color-black);
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.location-list a:hover,
.popular-test-list a:hover {
    color: var(--color-background-blue);
    text-decoration: underline;
}